body {margin: 0;}

header {position: fixed; top: 0; z-index: 999; background-color: rgba(64,64,64,75%); min-width: 100%; min-height: 64px;}
header img {margin-top: 16px; margin-right: 80%; float: right;}
.go_top{position: fixed; right: 0; bottom: 180px; z-index: 999;}

.wrapper {}/*현재기능x*/

.section1 {background-image: url(../image/section_invite.jpg); background-repeat: no-repeat; background-position: center; height: 750px; min-width: 1000px; background-color: #fff;}
.section2 {background-image: url(../image/section_creator.jpg); background-repeat: no-repeat; background-position: center; height: 822px; min-width: 1000px; background-color: #f9939d;}
.section3 {background-image: url(../image/section_store.jpg); background-repeat: no-repeat; background-position: center; height: 1084px; min-width: 1000px; background-color: #d5e43f; text-align: center;}
.section4 {background-image: url(../image/pattern_recipe.png); background-repeat: repeat-x; background-position: center; height: 1030px; min-width: 1000px; background-color: #b893f9; text-align: center;}
.section5 {background-color: #fff;}

.container{width: 1000px; padding-top: 300px; display: inline-block;}

.container2{display: inline-block; text-align: center; width: 230px; position: relative; z-index: 998;}
.container2 img {border-radius: 10px;}
.container2 > p:nth-child(2) {font-size: 20px; color: #1b1d21; margin-top: 20px; margin-bottom: 10px;}

.container2 > p:last-child {font-size: 28px; font-weight: bold; color: #1b1d21; margin-top: 10px;}

.ml-20{margin-left: 20px;}

.sale{border-radius: 10px; background-color: rgb(96,132,2); height: 230px; width: 230px; opacity: 0; transition: opacity 0.5s; position: absolute; top: 0; display: flex; justify-content: center; flex-direction: column; text-align: center;}
.sale:hover {opacity: 0.9;}

.sale p {margin: 0; display: block;}
.sale p:first-child {font-size: 65px; color: #fff;}
.sale p:last-child {font-size: 20px; color: #fff;}

.section4 > img {text-align: center; padding-top: 100px;}
.section4 a {position: relative; z-index:998;}
.section4 a > img:first-child {text-align: center; padding-top: 50px;}
.section4 a > img:last-child {opacity: 0; position: absolute; top: -73.65px; left: 0;}
.section4 a > img:last-child:hover {opacity: 1;}

@media screen and (min-width: 1920px){
	.section1 {background-color: #fff;}
	.section2 {background-color: #f9939d;}
	.section3 {background-color: #d5e43f;}
	.section4 {background-color: #b893f9;}
	.section5 {background-color: #fff;}
}
