body {margin: 0;}

header {position: fixed; background-color: rgba(64,64,64,75%); min-width: 100%; min-height: 64px;}
header img {margin-top: 16px; margin-left: 20%;}

.wrapper {}/*현재기능x*/

.section1 {background-image: url(../image/section_invite.jpg); background-repeat: no-repeat; background-position: center; height: 750px; background-color: #fff;}
.section2 {background-image: url(../image/section_creator.jpg); background-repeat: no-repeat; background-position: center; height: 822px; background-color: #f9939d;}
.section3 {background-image: url(../image/section_store.jpg); background-repeat: no-repeat; background-position: center; height: 1084px; background-color: #d5e43f;}
.section4 {background-image: url(../image/pattern_recipe.png); background-repeat: repeat-x; background-position: center; height: 1030px; background-color: #b893f9;}
.section5 {background-color: #fff;}

.container{width: 1000px; margin: 0 auto; padding-top: 17%;}

.container2{display: inline-block; text-align: center; height: 370px;}

/*이미지반응형정렬이 제대로안됨*/
.container2 img {border-radius: 10px; width:230px;}
.container2 p:nth-child(2) {font-size: 20px; color: #1b1d21; margin-top: 20px; margin-bottom: 10px;}

.container2 p:last-child {font-size: 28px; font-weight: bold; color: #1b1d21; margin-top: 10px;}

.ml-20{margin-left: 20px;}


@media screen and (min-width: 1920px){
	.section1 {background-color: #fff;}
	.section2 {background-color: #f9939d;}
	.section3 {background-color: #d5e43f;}
	.section4 {background-color: #b893f9;}
	.section5 {background-color: #fff;}
}
